.about-container {
  padding: 100px 0 60px;
  background-color: $color-white;
}

.about-wrapper {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.about-info {
  text-indent: 40px;
  padding: 10px;
  font-size: 18px;
}

.about-photo {
  padding: 10px;
  max-width: 500px;
  width: auto;
  max-height: 80vh;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .about-container {
    padding: 50px 0 60px;
  }
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    text-indent: 15px;
  }
}
