.about-container {
  padding: 3.125rem 15vw;
  background-color: $color-white;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.875rem;
}

.about-info {
  text-indent: 3rem;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: justify;

  p:nth-child(2),
  p:nth-child(3) {
    padding-top: 1.5rem;
  }
}

.about-photo {
  object-fit: cover;
  object-position: center;
  max-width: 600px;
  width: auto;
  max-height: 80vh;
  height: 100%;
  padding: 1rem;
}

@media (max-width: 1500px) {
  .about-container {
    padding: 2.5rem;
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 2rem;
  }
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    font-size: 1.125rem;
  }
}

@media (max-width: 550px) {
  .about-container {
    padding: 1rem;
  }
  .about-photo {
    width: 100%;
    max-height: 65vh;
    padding: 0;
  }
  .about-info {
    padding: 0;
    font-size: 1rem;
  }
}
