.about-container {
  padding: 3rem;
  background-color: $color-white;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.875rem;
  height: 100%;
}

.about-info {
  text-indent: 3rem;
  text-align: justify;
  max-height: 85vh;

  p:nth-child(2),
  p:nth-child(3) {
    padding-top: 1.5rem;
  }
}

.about-photo {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width: auto;
  max-height: 85vh;
  height: 100%;
}

@media (max-width: 1280px) {
  .about-container {
    padding: 1.5rem;
  }
  .about-wrapper {
    gap: 0.8rem;
  }
  .about-info {
    p:nth-child(2),
    p:nth-child(3) {
      padding-top: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    // max-height: max-content;
    p:nth-child(2),
    p:nth-child(3) {
      padding-top: 0.8rem;
    }
  }
}

@media (max-width: 568px) {
  .about-container {
    padding: 1rem;
  }
  .about-photo {
    // max-height: 60vh;
    width: 100%;
    padding: 0rem;
  }
  .about-info {
    text-indent: 2rem;
    padding: 0rem;
  }
}