.nextBtn,
.prevBtn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 2.1875rem;
  text-align: center;
  cursor: pointer;
  border: none;
  display: flex;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-green;
}

.prevBtn {
  background-image: url("/assets/images/icons/left-arrow.png");
}

.nextBtn {
  background-image: url("/assets/images/icons/right-arrow.png");
}

@media screen and (max-width: 960px) {
  .prevBtn,
  .nextBtn {
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 375px) {
  .prevBtn,
  .nextBtn {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
  }
}
