.certificate-container {
  background-color: $color-gray;
  padding: 3.125rem 0 10rem;
  width: 100%;
}

.certificate-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  height: 70vh;
  margin: 3rem;
}

.certificate-image {
  max-width: 80vw;
  width: auto;
  height: 100%;
  object-fit: contain;
  object-position: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1500px) {
  .certificate-container {
    padding: 3.125rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .certificate-container {
    padding: 3.125rem 0 2rem;
  }

  .certificate-wrapper {
    margin: 0.9375rem;
    gap: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .certificate-wrapper {
    margin: 0.625rem;
    gap: 0.6rem;
    height: 40vh;
  }
  .certificate-image {
    max-width: 77vw;
  }
}

@media screen and (max-width: 320px) {
  .certificate-container {
    padding: 1.875rem 0 2.5rem;
  }
  .certificate-wrapper {
    margin: 0.5rem;
    gap: 0.4rem;
    height: 35vh;
  }
  .certificate-image {
    max-width: 73vw;
  }
}
