.contacts {
  padding: 3.75rem 10rem;
  background-color: $color-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  .contacts__phone {
    font-size: 2.625rem;
    font-weight: 600;
  }

  .contacts__social {
    a {
      background-color: $color-green;
    }
  }

  .contacts__reception {
    height: 3.5rem;
    background-color: $color-green;
  }
}

@media (min-width: 1030px) {
  .contacts__social {
    a:hover {
      background-color: $color-black;
    }
  }

  .contacts__phone {
    &:hover {
      color: $color-green;
    }
  }

  .contacts__reception {
    &:hover {
      background-color: rgb(7, 120, 64, 0.7);
    }
  }
}

@media screen and (max-width: 960px) {
  .contacts {
    .contacts__phone {
      font-size: 2rem;
    }

    .contacts__reception {
      height: 3rem;
    }
  }
}

@media screen and (max-width: 720px) {
  .contacts {
    .contacts__phone {
      font-size: 1.7rem;
    }

    .contacts__reception {
      height: 3rem;
      font-size: 1rem;
      text-align: center;
    }

    .contacts__hour {
      text-align: center;
    }
  }
}

@media screen and (max-width: 650px) {
  .contacts {
    padding: 3.75rem 2rem;
  }
}
