.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.9375rem;
  background-color: $color-white;
  padding: 3.125rem 10rem;
  width: 100%;
}

.feedback-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1.25rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
  width: 80vw;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.feedback-img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.feedback-text {
  width: 40vw;
}

.feedback-link {
  display: flex;
  justify-content: space-around;
  gap: 1.875rem;
}

.feedback-link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .feedback-text {
    width: 60vw;
  }
}

@media screen and (max-width: 960px) {
  .feedback-container {
    padding: 3.125rem 2rem 3.75rem;
  }
  .feedback-wrapper {
    gap: 0.9375rem;
  }
}

@media screen and (max-width: 768px) {
  .feedback-container {
    padding: 2.5rem 2rem 3.125rem;
  }
  .feedback-wrapper {
    gap: 0.8125rem;
  }
  .feedback-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
  }
  .feedback-img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 375px) {
  .feedbacke-container {
    padding: 1.875rem 1rem 2.5rem;
  }
  .feedback-wrapper {
    gap: 0.625rem;
  }
  .feedback-img {
    width: 6rem;
    height: 6rem;
  }
}
