* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-margin-top: 64px;
}

*,
*::before,
*::after {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $color-black;
}

h2 {
  font-size: 2.625rem;
  text-align: center;
  padding-bottom: 3.125rem;
  @media screen and (max-width: 960px) {
    font-size: 1.5rem;
  }
}

p,
ul {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
}

.social-networks,
.burger__social {
  display: flex;
  gap: 1.875rem;

  a {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    img {
      width: 1.7rem;
    }
  }
}

.button-contacts {
  background-color: $color-white;
  border-radius: 1.875rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.9375rem;
  transition: all 0.5s ease;
}

@media (hover: hover) {
  .button-contacts:hover {
    background-color: $color-black;
    color: $color-green;
  }

  .social-networks,
  .burger__social {
    a:hover {
      background-color: $color-white;
    }
  }
}

@media (max-width: 1280px) {
  p,
  ul {
    font-size: 1.125rem;
  }
}

@media (max-width: 640px) {
  p,
  ul {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media (max-width: 640px) {
  p,
  ul {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

.overlay {
  overflow: hidden;
}
