header {
  background-color: $color-header;
  display: flex;
  align-items: center;
  z-index: 999;
  top: 0;
  right: 0;
  position: sticky;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  width: 100vw;
  height: 10vh;

  .header__logo {
    font-size: 30px;
    color: $color-white;
    font-weight: 400;
    cursor: pointer;
  }

  .header__links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
  }

  .header__links :hover {
    color: $color-white;
  }

  .header__social {
    a {
      img {
        background-color: $color-black;
      }

      & :hover {
        background-color: $color-white;
      }
    }
  }
}
