header {
  background-color: $color-header;
  display: flex;
  align-items: center;
  z-index: 15;
  top: 0;
  right: 0;
  position: sticky;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
  width: 100vw;
  height: 64px;
  transition: all 0.5s ease;

  .header__logo {
    font-size: 1.875rem;
    color: $color-white;
    font-weight: 400;
    cursor: pointer;
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease;

    & div {
      transition: all 0.5s ease;
    }
  }

  .header__links :hover {
    color: $color-white;
  }
}

@media (max-width: 1360px) {
  .header__nav {
    .header__logo {
      font-size: 1.5rem;
    }

    .header__links {
      font-size: 1.25rem;
      gap: 1.375rem;
    }
  }
}

@media (max-width: 1280px) {
  .header__links > a,
  .header__links,
  .header__social {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-items: end;
    padding: 0.625rem;
    position: absolute;
    right: 2.5rem;
    background: transparent;
    transition: transform 0.7s;
    z-index: 11;
  }

  .open {
    gap: 0;

    .burger-item:nth-child(1) {
      transform: rotate(45deg);
    }

    .burger-item:nth-child(2) {
      transform: rotate(-45deg);
    }
  }

  .burger-item {
    width: 1.25rem;
    height: 1px;
    background-color: #181c29;
    font-size: 0;
    color: transparent;
    transition: transform 0.5s;
  }

  .pop_up-inactive {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  .burger__pop-up {
    position: fixed;
    z-index: 5;
    top: 64px;
    width: 100vw;
    height: 100vh;
    background-color: $color-green;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: end;
    align-items: flex-end;
    -webkit-align-items: end;

    padding: 2.5rem;
    gap: 1.875rem;
    transition: all 0.5s linear;
    opacity: 0;
    transform: translateX(100%);

    li {
      list-style-type: none;
    }
  }

  #burger__doctor,
  #burger__services,
  #burger__treatment,
  #burger__sertificate,
  #burger__feedback {
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid $color-black;
    line-height: 100%;
  }
}

@media (max-width: 1280px) and (max-height: 700px) {
  .burger__pop-up {
    top: 13vh;
  }
}

@media (max-width: 376px) {
  .burger__pop-up {
    top: 12vh;
  }
}

@media (max-width: 361px) {
  .burger__pop-up {
    top: 10vh;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .burger__pop-up {
    top: 20vh;
  }
}

@media (max-width: 897px) and (orientation: landscape) {
  .burger__pop-up {
    top: 19vh;
  }
}

@media (max-width: 933px) and (orientation: landscape) {
  .burger__pop-up {
    top: 18vh;
  }
}

@media (max-width: 741px) and (orientation: landscape) {
  .burger__pop-up {
    top: 21 vh;
  }
}

@media (max-width: 722px) and (orientation: landscape) {
  .burger__pop-up {
    top: 14vh;
  }
}

@media (max-width: 883px) and (orientation: landscape) {
  .burger__pop-up {
    top: 22vh;
  }
}

@media (max-width: 560px) {
  .header__nav {
    padding: 2.5rem 1.5rem;
  }

  .burger__pop-up {
    padding: 1.5rem;
  }

  .header__burger {
    right: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .header__burger,
  .burger__pop-up {
    display: none;
  }
}
