header {
  background-color: $color-header;
  position: sticky;
  height: 10vh;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100vw;
  height: 10vh;

  .header__logo {
    font-size: 30px;
    color: $color-white;
    font-weight: 400;
    cursor: pointer;
  }

  .header__links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  .header__links :hover {
    color: $color-white;
  }

  .header__social {
    a {
      img {
        background-color: $color-black;
      }

      & :hover {
        background-color: $color-white;
      }
    }
  }
}
