.services {
  background-color: $color-gray;
  padding: 3.75rem 10rem;

  h3 {
    font-size: 1.5rem;
    color: $color-white;
    padding: 1.875rem 1.25rem;
  }

  p {
    font-weight: 300;
    padding-top: 1.5rem;
    width: 30rem;
    text-align: justify;
    text-indent: 3rem;
  }
}

.services__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ilgotherapy {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/ilgotherapy.jpg");
}

.manualTherapy {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/manual-therapy.jpg");
}

.auriculotherapy {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/auriculotherapy.jpg");
}

.acupressure {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/acupressure.jpg");
}

.electropuncture {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/electropuncture.jpg");
}

.pir {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/services/pir.jpg");
}

.ilgotherapy,
.manualTherapy,
.auriculotherapy,
.acupressure,
.electropuncture,
.pir {
  background-position: center;
  width: 30rem;
  height: 18.75rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: bottom;
}

.services-container {
  opacity: 1;
  transition: opacity 0.3s ease;
}

@media (max-width: 1500px) {
  .services {
    padding: 3.75rem 3rem;
  }
}

@media (max-width: 500px) {
  .services {
    padding: 1.875rem 1rem;

    h3 {
      font-size: 1.2rem;
    }

    p {
      width: 73vw;
    }
  }

  .ilgotherapy,
  .manualTherapy,
  .auriculotherapy,
  .acupressure,
  .electropuncture,
  .pir {
    width: 73vw;
    height: 25vh;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}
